<ion-view title="Tarifrechner">
  <ion-content id="calculator" padding="true" class="has-header">
    <div>
      <img class="img-logo">
    </div>
    <h1 class="main-title">Preisrechner</h1>

    <!-- request info -->
    <div class="list">

      <div class="button-bar">
        <button ng-class="{'active': tariffInfo.type==1}" 
                ng-click="changeSectionTariffType(1)" 
                class="button button-positive button-small button-block">
                Strom
        </button>
        <button ng-class="{'active': tariffInfo.type==2}" 
                ng-click="changeSectionTariffType(2)" 
                class="button button-positive button-small button-block">
                Gas
        </button>
      </div>

      <div ng-if="tariffInfo.type != 0" class="button-bar">
        <button ng-class="{'active': tariffInfo.innerType==1}" 
                ng-click="changeSectionInnerTariffType(1)" 
                class="button button-positive button-small button-block">
                Basic
        </button>
        <button ng-class="{'active': tariffInfo.innerType==2}" 
                ng-click="changeSectionInnerTariffType(2)" 
                class="button button-positive button-small button-block">
                Premium
        </button>
      </div>

      <div ng-if="tariffInfo.innerType==1" class="show-list-numbers-and-dots">
        <p class="description">
          <strong>Basic:</strong> Es wird kein Genossenschaftsmitglied erzeugt. Vertragslaufzeit ab 1 Monat.
        </p>
      </div>
      <div ng-if="tariffInfo.innerType==2" class="show-list-numbers-and-dots">
        <p class="description">
          <strong>Premium:</strong> Genossenschaftsmitglied wird erzeugt. Vertragslaufzeit mindestens 12 Monate.
        </p>
      </div>

      <div ng-if="tariffInfo.innerType != 0" class="button-bar">
        <button ng-class="{'active': tariffInfo.customerType==1}" 
                ng-click="changeSectionCustomerType(1)" 
                class="button button-positive button-small button-block">
                Haushalt
        </button>
        <button ng-class="{'active': tariffInfo.customerType==2}" 
                ng-click="changeSectionCustomerType(2)" 
                class="button button-positive button-small button-block">
                Gewerbe
        </button>
      </div>

      <div ng-if="tariffInfo.customerType==1 &amp;&amp; tariffInfo.type==1" class="button-bar">
        <button ng-class="{'active': tariffInfo.choice==1}" 
                ng-click="changeSectionTariffChoice(1)" 
                class="button button-positive button-small button-block">
                Wärmepumpe
        </button>
        <button ng-class="{'active': tariffInfo.choice==2}" 
                ng-click="changeSectionTariffChoice(2)" 
                class="button button-positive button-small button-block">
                SLP
        </button>
        <button ng-class="{'active': tariffInfo.choice==4}" 
                ng-click="changeSectionTariffChoice(4)" 
                class="button button-positive button-small button-block">
                HT/NT
        </button>
      </div>

      <div ng-if="tariffInfo.customerType==2 &amp;&amp; tariffInfo.type==1" class="button-bar">
        <button ng-class="{'active': tariffInfo.choice==1}" 
                ng-click="changeSectionTariffChoice(1)" 
                class="button button-positive button-small button-block">
                Wärmepumpe
        </button>
        <button ng-class="{'active': tariffInfo.choice==2}" 
                ng-click="changeSectionTariffChoice(2)" 
                class="button button-positive button-small button-block">
                SLP
        </button>
        <button ng-class="{'active': tariffInfo.choice==3}" 
                ng-click="changeSectionTariffChoice(3)" 
                class="button button-positive button-small button-block">
                RLM
        </button>
        <button ng-class="{'active': tariffInfo.choice==4}" 
                ng-click="changeSectionTariffChoice(4)" 
                class="button button-positive button-small button-block">
                HT/NT
        </button>
      </div>

      <div ng-if="(tariffInfo.choice !=0 &amp;&amp; tariffInfo.type ==1) || (tariffInfo.customerType !=0 &amp;&amp; tariffInfo.type ==2)" class="button-bar">
        <button ng-if="tariffInfo.innerType==1" 
                ng-class="{'active': tariffInfo.contactTerms==1}" 
                ng-click="changeSectionContractTerm(1)" 
                class="button button-positive button-small button-block">
                1 Monat
        </button>
        <button ng-class="{'active': tariffInfo.contactTerms==2}" 
                ng-click="changeSectionContractTerm(2)" 
                class="button button-positive button-small button-block">
                12 Monate
        </button>
        <button ng-class="{'active': tariffInfo.contactTerms==3}" 
                ng-click="changeSectionContractTerm(3)" 
                class="button button-positive button-small button-block">
                24 Monate
        </button>
        <button ng-if="tariffInfo.innerType==2" 
                ng-class="{'active': tariffInfo.contactTerms==4}" 
                ng-click="changeSectionContractTerm(4)" 
                class="button button-positive button-small button-block">
                36 Monate
        </button>
      </div>

      <div ng-if="tariffInfo.contactTerms !=0 &amp;&amp; tariffInfo.type == 1 &amp;&amp; tariffInfo.choice == 4" class="button-bar">
        <button ng-class="{'active': tariffInfo.heartFlowChoice==1}" 
                ng-click="changeSectionHeatFlowChoice(1)" 
                class="button button-positive button-small button-block">
                kein Wärmestrom
        </button>
        <button ng-class="{'active': tariffInfo.heartFlowChoice==2}" 
                ng-click="changeSectionHeatFlowChoice(2)" 
                class="button button-positive button-small button-block">
                Wärmepumpe
        </button>
        <button ng-class="{'active': tariffInfo.heartFlowChoice==3}" 
                ng-click="changeSectionHeatFlowChoice(3)" 
                class="button button-positive button-small button-block">
                Wärmespeicher
        </button>
      </div>

      <div ng-if="tariffInfo.choice == 3 &amp;&amp; tariffInfo.contactTerms !=0">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Verbrauch </span>
            <input type="number" placeholder="">
          </label>
          <label class="item item-input">
            <span class="input-label">Lastspitze</span>
            <input type="number" placeholder="">
          </label>
          <label class="item item-select">
            <span class="input-label">Spannungsart</span>
            <select>
              <option>Niederspannung</option>
              <option>Hochspannung</option>
            </select>
          </label>
          <label class="item item-input">
            <span class="input-label">PLZ</span>
            <input type="number" placeholder="">
          </label>
          <label class="item item-input">
            <span class="input-label">Ort</span>
            <input type="text" placeholder="">
          </label>
          <label class="item item-input">
            <span class="input-label">Straße</span>
            <input type="text" placeholder="">
          </label>
          <label class="item item-input">
            <span class="input-label">Hausnummer</span>
            <input type="text" placeholder="">
          </label>
        </div>
      </div>

      <div ng-if="tariffInfo.choice==4 &amp;&amp; (tariffInfo.heartFlowChoice==2 || tariffInfo.heartFlowChoice==3)">
        <div class="list">
          <div class="show-list-numbers-and-dots">
            <p class="description">Der Verbrauch von Wärmestrom wird über einen: </p>
          </div>
          <ion-checkbox>Doppeltarifzähler gemeinsam mit dem Haushaltsstrom erfasst.</ion-checkbox>
          <ion-checkbox>vom Haushaltsstrom getrennten Doppeltarifzähler erfasst.</ion-checkbox>
          <ion-checkbox>vom Haushaltsstrom getrennten Einzeltarifzähler erfasst.</ion-checkbox>
        </div>
      </div>

      <div ng-if="(tariffInfo.contactTerms != 0 &amp;&amp; tariffInfo.type ==1 &amp;&amp;(tariffInfo.choice ==1 || tariffInfo.choice ==2 )) || (tariffInfo.contactTerms !=0 &amp;&amp; tariffInfo.type == 2)"
       >
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Verbrauch </span>
            <input type="number" placeholder="">
          </label>
          <label class="item item-input">
            <span class="input-label">Postleitzahl</span>
            <input type="number" placeholder="">
          </label>
          <label class="item item-input">
            <span class="input-label">Ort</span>
            <input type="text" placeholder="">
          </label>
          <label class="item item-input">
            <span class="input-label">Straße</span>
            <input type="text" placeholder="">
          </label>
          <label class="item item-input">
            <span class="input-label">Hausnummer</span>
            <input type="text" placeholder="">
          </label>
        </div>
      </div>

    </div>


    <div class="list" ng-if="tariffInfo.choice==4 &amp;&amp; tariffInfo.heartFlowChoice !=0">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Verbrauch HT</span>
          <input type="number" placeholder="">
        </label>
        <label class="item item-input">
          <span class="input-label">Verbrauch NT</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input">
          <span class="input-label">Postleitzahl</span>
          <input type="number" placeholder="">
        </label>
        <label class="item item-input">
          <span class="input-label">Ort</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input">
          <span class="input-label">Straße</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input">
          <span class="input-label">Hausnummer</span>
          <input type="text" placeholder="">
        </label>
      </div>
    </div>

    <button ng-class="{'active': tariffInfo.isCalculated}" 
            ng-click="changeSectionCalculate(1)" 
            ng-if="(tariffInfo.contactTerms != 0 &amp;&amp; tariffInfo.type ==1 &amp;&amp; tariffInfo.choice != 4) || (tariffInfo.contactTerms !=0 &amp;&amp; tariffInfo.type == 2) || (tariffInfo.choice==4 &amp;&amp; tariffInfo.heartFlowChoice !=0)"
            class="button button-energized  button-block">
            Rechnen!
    </button>

    <div class="list" ng-if="tariffInfo.isCalculated">
      <h3 ng-if="tariffInfo.customerType==1 &amp;&amp; (tariffInfo.contactTerms == 1 || tariffInfo.contactTerms == 2 || tariffInfo.contactTerms == 3 || tariffInfo.contactTerms == 4)" 
          class="description">
          Alle Preise sind Brutto-Preise
      </h3>
      <h3 ng-if="tariffInfo.customerType==2 &amp;&amp; (tariffInfo.contactTerms == 1 || tariffInfo.contactTerms == 2 || tariffInfo.contactTerms == 3 || tariffInfo.contactTerms == 4)" 
          class="description">
          Alle Preise sind Netto-Preise
      </h3>

      <div class="list card">
        <ion-item class="item-icon-left dark">
          <i class="icon ion-ios-bolt"></i>Ecoop Strom
          <span class="item-note">675,69 €/Jahr</span>
        </ion-item>
        <div class="item item-body">
          <div class="show-list-numbers-and-dots">
            <p class="detail">
              <strong>Arbeitspreis (netto):</strong> 15,91 ct/kWh ( brutto: 18,93 ct/kWh )
              <br>
              <strong>Grundpreis (netto):</strong> 7,55 €/Monat ( brutto: 8,98 €/Monat )
              <br>1 Genossenschaftsanteil 10,00 €
              <br>1 Beitrittsgebühr 35,00 €
              <br>Netzbetreiber: Regensburg Netz GmbH</p>
          </div>
          <div class="button-bar">
            <button class="button button-stable  button-block">Preisblatt drucken</button>
            <button class="button button-stable  button-block">Preiskomponenten</button>
            <a ui-sref="app.tab.offer" class="button button-stable  button-block">Angebot erstellen</a>
          </div>
          <div class="button-bar">
            <a ui-sref="app.tab.contract" class="button button-energized  button-block">Vertrag erstellen</a>
          </div>
        </div>
      </div>
      <div class="list card">
        <ion-item class="item-icon-left dark">
          <i class="icon ion-ios-bolt"></i>Ecoop Wärme
          <span class="item-note">675,69 €/Jahr</span>
        </ion-item>
        <div class="item item-body">
          <div class="show-list-numbers-and-dots">
            <p class="detail">
              <strong>Arbeitspreis (netto):</strong> 15,91 ct/kWh ( brutto: 18,93 ct/kWh )
              <br>
              <strong>Grundpreis (netto):</strong> 7,55 €/Monat ( brutto: 8,98 €/Monat )
              <br>1 Genossenschaftsanteil 10,00 €
              <br>1 Beitrittsgebühr 35,00 €
              <br>Netzbetreiber: Regensburg Netz GmbH</p>
          </div>
          <div class="button-bar">
            <button class="button button-stable  button-block">Preisblatt drucken</button>
            <button class="button button-stable  button-block">Preiskomponenten</button>
            <a ui-sref="app.tab.offer" class="button button-stable  button-block">Angebot erstellen</a>
          </div>
          <div class="button-bar">
            <a ui-sref="app.tab.contract" class="button button-energized  button-block">Vertrag erstellen</a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>