<ion-view title="Vertrag anlegen">
  <ion-content id="contract" padding="true" class="has-header">
    <div>
      <img class="img-logo">
    </div>

    <h1 class="main-title">Vertrag anlegen</h1>
    <form class="list">
      <ion-toggle toggle-class="toggle-positive" ng-model="showContractSearchForm">Bestandskunde</ion-toggle>
    </form>
    <div ng-show="showContractSearchForm">
      <form class="list">
        <label class="item item-input">
          <span class="input-label">Vertrags-ID</span>
          <input type="text" placeholder="">
        </label>
        <button class="button button-energized  button-block">Suchen</button>
      </form>
    </div>



    <!-- customer data -->
    <h2 class="main-title">Kundendaten</h2>
    <div class="button-bar">
      <button ng-class="{'active': activeSectionContractCustomerType==1}" 
              ng-click="changeSectionContractCustomerType(1)" 
              class="button button-positive button-small button-block">
              Privat
      </button>
      <button ng-class="{'active': activeSectionContractCustomerType==2}" 
              ng-click="changeSectionContractCustomerType(2)" 
              class="button button-positive button-small button-block">
              Gewerbe
      </button>
    </div>

    <div>
      <form class="list">

        <div ng-if="activeSectionContractCustomerType==1">
          <h3 class="main-title">Persönliche Daten</h3>
          <label ng-repeat="field in personalDataPrivateFields" class="item" ng-class="{'item-select': field.type == 'select' || field.type == 'cities', 'item-input': !(field.type == 'select')}">
            <span class="input-label">{{field.title}}</span>

            <select ng-if="field.type=='select'" ng-model="field.value" value="1">
              <option ng-repeat="option in field.options">{{option}}</option>
            </select>

            <select ng-if="field.type=='cities'" ng-model="field.value" value="1">
              <option ng-repeat="option in field.options">{{option.name}}</option>
            </select>

            <input type="text" ng-if="field.type=='text'" ng-model="field.value">

            <input type="number" ng-if="field.type=='zip'" ng-model="field.value" ng-change="searchCitiesByZip(field.value, activeSectionContractCustomerType)">

            <input ion-autocomplete type="text" ng-if="field.type=='autocomplete'" ng-model="field.value" readonly="readonly" class="ion-autocomplete" autocomplete="off"
                       item-value-key="code"
                       item-view-value-key="name"
                       items-method="searchStreet(query, activeSectionContractCustomerType)"
                       items-method-value-key="streets"
                       placeholder="Search street ..."
                       items-clicked-method="streetSelected(callback)"
                       max-selected-items="1"/>

            <input type="date" ng-if="field.type=='date'" ng-model="field.value">

            <input type="tel" ng-if="field.type=='tel'" ng-model="field.value">

            <input type="email" ng-if="field.type=='email'" ng-model="field.value">

          </label>
          <ion-toggle toggle-class="toggle-positive">Beitrittsgebühr erlassen</ion-toggle>
        </div>

        <div ng-if="activeSectionContractCustomerType == 2">
          <h3 class="main-title">Persönliche Daten</h3>
          <label ng-repeat="field in personalDataBusinessFields" class="item" ng-class="{'item-select': field.type == 'select' || field.type == 'cities', 'item-input': !(field.type == 'select')}">
            <span class="input-label">{{field.title}}</span>

            <select ng-if="field.type=='select'" ng-model="field.value" value="1">
              <option ng-repeat="option in field.options">{{option}}</option>
            </select>

            <select ng-if="field.type=='cities'" ng-model="field.value" value="1">
              <option ng-repeat="option in field.options">{{option.name}}</option>
            </select>

            <input type="text" ng-if="field.type=='text'" ng-model="field.value">

            <input type="number" ng-if="field.type=='zip'" ng-model="field.value" ng-change="searchCitiesByZip(field.value, activeSectionContractCustomerType)">

            <input ion-autocomplete type="text" ng-if="field.type=='autocomplete'" ng-model="field.value" readonly="readonly" class="ion-autocomplete" autocomplete="off"
                       item-value-key="code"
                       item-view-value-key="name"
                       items-method="searchStreet(query, activeSectionContractCustomerType)"
                       items-method-value-key="streets"
                       placeholder="Search street ..."
                       items-clicked-method="streetSelected(callback)"
                       max-selected-items="1"/>

            <input type="date" ng-if="field.type=='date'" ng-model="field.value">

            <input type="tel" ng-if="field.type=='tel'" ng-model="field.value">

            <input type="email" ng-if="field.type=='email'" ng-model="field.value">
          </label>
          <ion-toggle toggle-class="toggle-positive">Beitrittsgebühr erlassen</ion-toggle>
        </div>

      </form>
    </div>



    <!-- deviating account -->
    <div class="spacer" style="height: 30px;"></div>
    <h3 class="main-title">Abweichende Rechnungsanschrift</h3>
    <div class="button-bar">
      <button ng-class="{'active': activeSectionDifferentBillingAddress==1}" 
              ng-click="changeSectionDifferentBillingAddress(1)" 
              class="button button-positive button-small button-block">
              Ja
      </button>
      <button ng-class="{'active': activeSectionDifferentBillingAddress==2}" 
              ng-click="changeSectionDifferentBillingAddress(2)" 
              class="button button-positive button-small button-block">
              Nein
      </button>
    </div>
    <!-- person type -->
    <div ng-show="activeSectionDifferentBillingAddress==1">
      <h4 class="main-title">Personentyp</h4>
      <div class="button-bar">
        <button ng-class="{'active': activeSectionDifBilAddCustomerType==1}" 
                ng-click="changeSectionDifBilAddCustomerType(1)" 
                class="button button-positive button-small button-block">
                Privat
        </button>
        <button ng-class="{'active': activeSectionDifBilAddCustomerType==2}" 
                ng-click="changeSectionDifBilAddCustomerType(2)" 
                class="button button-positive button-small button-block">
                Gewerbe
        </button>
      </div>
    </div>

    <div>
      <form class="list">

        <div ng-if="activeSectionDifBilAddCustomerType==1">
          <label ng-repeat="field in personalTypePrivateFields" class="item" ng-class="{'item-select': field.type == 'select', 'item-input': !(field.type == 'select')}">
            <span class="input-label">{{field.title}}</span>

            <select ng-if="field.type=='select'" ng-model="field.value" value="1">
              <option ng-repeat="option in field.options">{{option}}</option>
            </select>
            <input type="text" ng-if="field.type=='text'" ng-model="field.value">
            <input type="number" ng-if="field.type=='number'" ng-model="field.value">
          </label>
        </div>

        <div ng-if="activeSectionDifBilAddCustomerType==2">
          <label ng-repeat="field in personalTypeBusinessFields" class="item" ng-class="{'item-select': field.type == 'select', 'item-input': !(field.type == 'select')}">
            <span class="input-label">{{field.title}}</span>
            <select ng-if="field.type=='select'" ng-model="field.value" value="1">
              <option ng-repeat="option in field.options">{{option}}</option>
            </select>
            <input type="text" ng-if="field.type=='text'" ng-model="field.value">
            <input type="number" ng-if="field.type=='number'" ng-model="field.value">
          </label>
        </div>

      </form>
    </div>


    <!-- delivery address -->
    <!-- <div class="spacer" style="height: 30px;"></div>
    <div>
      <h3 class="main-title">Lieferanschrift</h3>
      <div class="button-bar">
        <button ng-class="{'active': activeSectionDeliveryCustType==1}" 
                ng-click="changeSectionDeliveryCustType(1)" 
                class="button button-positive button-small button-block">
                Privatkunde
        </button>
        <button ng-class="{'active': activeSectionDeliveryCustType==2}" 
                ng-click="changeSectionDeliveryCustType(2)" 
                class="button button-positive button-small button-block">
                Geschäftskunde
        </button>
      </div>
    </div>

    <div>
      <form class="list">

        <div ng-if="activeSectionDeliveryCustType==1">
          <label ng-repeat="field in deliveryAddressPrivateFields" class="item" ng-class="{'item-select': field.type == 'select', 'item-input': !(field.type == 'select')}">
            <span class="input-label">{{field.title}}</span>

            <select ng-if="field.type=='select'" ng-model="field.value" value="1">
              <option ng-repeat="option in field.options">{{option}}</option>
            </select>
            <input type="text" ng-if="field.type=='text'" ng-model="field.value">
            <input type="number" ng-if="field.type=='number'" ng-model="field.value">
          </label>
        </div>

        <div ng-if="activeSectionDeliveryCustType==2">
          <label ng-repeat="field in deliveryAddressBusinessFields" class="item" ng-class="{'item-select': field.type == 'select', 'item-input': !(field.type == 'select')}">
            <span class="input-label">{{field.title}}</span>

            <input type="text" ng-if="field.type=='text'" ng-model="field.value">
            <input type="number" ng-if="field.type=='number'" ng-model="field.value">
          </label>
        </div>
        
      </form>
    </div> -->

       


    <!-- Payment Information -->
    <h3 class="main-title">Zahlungsinformationen</h3>
    <form class="list">
      <ion-toggle toggle-class="toggle-positive">Authorize Debit</ion-toggle>
      <label class="item item-input">
        <span class="input-label">Kontoinhaber</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input">
        <span class="input-label">IBAN</span>
        <input type="text" placeholder="">
      </label>

      <!-- Save customer data -->
      <a ui-sref="app.tab.delivery" class="button button-energized  button-block">Kundendaten speichern</a>
    </form>
  </ion-content>
</ion-view>