<ion-view id="page1">
  <ion-tabs class="tabs-dark tabs-icon-top" id="tabsController-tabs1">
    <ion-tab title="Tarifrechner" icon="ion-ios-calculator" href="#/app/home/calculator" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Vertrag anlegen" icon="ion-android-checkbox" href="#/page1/tab2/page3" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Vertrag suchen" icon="ion-android-search" href="#/page1/page6" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>