<ion-view title="Login">
  <ion-content id="login" padding="true" class="has-header">
    <div>
      <img class="img-logo">
    </div>
    <div class="spacer top"></div>
    <form class="list" name="loginForm" ng-submit="login(creds.email, creds.pass)">
      <ion-list>
        <label class="item item-input item-stacked-label">
          <span class="input-label">E-Mail</span>
          <input type="email" name="email" ng-model="creds.email">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Password</span>
          <input type="password" name="pass" ng-model="creds.pass">
        </label>
      </ion-list>
      <div class="spacer bottom"></div>
      <button type="submit" class="button button-energized  button-block">Log in</button>
    </form>
  </ion-content>
</ion-view>