<ion-view title="Vertrag suchen" style="background-color:#2F3238;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="https://s3.amazonaws.com/ionic-io-static/ynmgU2aCRsi9vK2MsGcV_ECO_logo_img.png" style="display: block; width: 20%; height: auto; margin-left: auto;">
    </div>
    <h1 style="color:#FFFFFF;">Vertrag suchen</h1>
    <form class="list">
      <label class="item item-input">
        <span class="input-label">Vertrags-ID</span>
        <input type="text" placeholder="">
      </label>
      <button class="button button-energized  button-block">Suchen</button>
    </form>
    <div class="spacer" style="width: 748px; height: 75px;"></div>
    <h3 style="color:#FFFFFF;">Persönliche Daten</h3>
    <div>
      <form class="list">
        <div class="button-bar">
          <button class="button button-positive  button-block">Privat</button>
          <button class="button button-positive  button-block">Gewerbe</button>
        </div>
        <label class="item item-select">
          <span class="input-label">Anrede</span>
          <select>
            <option>Herr</option>
            <option>Frau</option>
          </select>
        </label>
        <label class="item item-select">
          <span class="input-label">Titel</span>
          <select>
            <option>Dr.</option>
            <option>Prof.</option>
            <option>kein</option>
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label">Vorname</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input">
          <span class="input-label">Nachname</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input">
          <span class="input-label">Geburtstag</span>
          <input type="date" placeholder="">
        </label>
        <ion-toggle toggle-class="toggle-positive">Beitrittsgebühr erlassen</ion-toggle>
      </form>
    </div>
    <form class="list">
      <label class="item item-input">
        <span class="input-label">Postleitzahl</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input">
        <span class="input-label">Ort</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input">
        <span class="input-label">Kreis</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input">
        <span class="input-label">Strasse</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input">
        <span class="input-label">Hausnummer</span>
        <input type="text" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>