<!-- TABS -->

<ion-tabs class="tabs-dark tabs-icon-top" id="tabsController-tabs1" ng-if="showTabBar()">
  <ion-tab title="Tarifrechner" icon="ion-ios-calculator" href="#/app/tab/calculator" id="tabsController-tab1">
    <ion-nav-view name="tab-calculator"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Vertrag anlegen" icon="ion-android-checkbox" href="#/app/tab/agreement" id="tabsController-tab2">
    <ion-nav-view name="tab-agreement"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Vertrag suchen" icon="ion-android-search" href="#/app/tab/search" id="tabsController-tab3">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>
</ion-tabs>