<!-- TABS -->

<ion-tabs class="tabs-dark tabs-icon-top" ng-if="showTabBar()">
  <ion-tab title="Tarifrechner" icon="ion-ios-calculator" href="#/app/tab/calculator">
    <ion-nav-view name="tab-calculator"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Vertrag anlegen" icon="ion-android-checkbox" href="#/app/tab/tab-contract/contract">
    <ion-nav-view name="tab-contract"></ion-nav-view>
  </ion-tab>
  <!-- <ion-tab title="Vertrag suchen" icon="ion-android-search" href="#/app/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view> -->
  </ion-tab>
</ion-tabs>
