
.bar.bar-header
{
	background-color: #008cd3;
}

.bar.bar-stable .title {
    color: #FFFFFF;
}
.bar-stable .button.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #FFFFFF;
    font-size: 17px;
}
.main-title{
	color:#FFFFFF;
}