#search{
	background-color:#2F3238;

	img.img-logo{
		content: url('https://s3.amazonaws.com/ionic-io-static/SDPpBjluQ9Ovzclt7KLP_ECO_logo_img.png');
		display: block; 
		width: 20%; 
		height: auto; 
		margin-left: auto; 
	}

	.description{
		color:#FFFFFF;
	}

	.detail{
		margin-top:0px;
		color:#000000;
	}
}